<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="*" />
    <add key="ClientSecret" value="*" />
    <add key="AuthorizeUrl" value="https://user.aimsinnovation.com/oauth/authorize/" />
    <add key="TokenUrl" value="https://master-saas.aimsinnovation.com/api/auth/token" />
    <add key="MonitorUrl" value="https://*-saas.aimsinnovation.com/monitors/*/api/" />
  </appSettings>
</configuration>